.imageUpload {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 200px;
  margin: 0 auto;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
}

.imageUpload-progress {
  width: 95%;
  margin: 10px;
}

.imageUpload input {
  margin: 15px;
}
